<div class="header-main px-3 px-lg-4">
    <a id="menuSidebar" href="#" class="menu-link me-3 me-lg-4"><i class="ri-menu-2-fill"></i></a>

    <div class="form-search me-auto">
      <input type="text" class="form-control" placeholder="Search">
      <i class="ri-search-line"></i>
    </div><!-- form-search -->

    <div class="dropdown dropdown-skin">
      <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ri-settings-3-line"></i></a>
      <div class="dropdown-menu dropdown-menu-end mt-10-f">
        <label>Skin Mode</label>
        <nav id="skinMode" class="nav nav-skin">
          <a href="" class="nav-link active">Light</a>
          <a href="" class="nav-link">Dark</a>
        </nav>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->

  </div><!-- header-main -->