<div class="sidebar">
    <div class="sidebar-header">
      <a href="#" class="sidebar-logo">LiK Dashboard</a>
    </div><!-- sidebar-header -->
  
    <div id="sidebarMenu" class="sidebar-body">
      <div class="nav-group show">
        <a href="#" class="nav-label">Household</a>
        <ul class="nav nav-sidebar">
          <li class="nav-item">
            <a href="{% url 'household-demographics' %}" class="nav-link"><i class="ri-home-3-line"></i> <span>Household Demographics</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'economic-wellbeing' %}" class="nav-link"><i class="ri-wallet-3-line"></i> <span>Housing, Assets and Savings</span></a>
          </li>
  
          <li class="nav-item">
            <a href="{% url 'housing-and-amenities' %}" class="nav-link"><i class="ri-coin-line"></i> <span>Housing and Amenities</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'education-employment' %}" class="nav-link"><i class="ri-git-repository-line"></i> <span>Education and Employment</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'health-nutrition' %}" class="nav-link"><i class="ri-service-line"></i> <span>Health and Nutrition</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'migration-remittances' %}" class="nav-link"><i class="ri-bar-chart-2-line"></i> <span>Migration and Remittances</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'family-background' %}" class="nav-link"><i class="ri-settings-line"></i> <span>Shocks and Coping Mechanisms</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'community-perception' %}" class="nav-link"><i class="ri-team-line"></i> <span>Community Perceptions</span></a>
          </li>
        </ul>
      </div><!-- nav-group -->
    </div><!-- sidebar-body -->
  </div><!-- sidebar -->